<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Invite</title>
    <link href="src/css/font-awesome.min.css" rel="stylesheet"/>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
<div class="box" id="app">
    <header>
        <div class="title">Invite people to Dribbble</div>
        <div class="subtitle"><span id="count">{{count}}</span>invites available</div>
        <div class="search-box">
            <input type="text" class="search" id="search"
                   v-bind:class=" { active : isActive } "
                   v-on:focus="search"
                   v-on:blur="search">
            <i class="fa fa-search"></i>
        </div>
    </header>
    <main v-on:click="changeStatus">
        <div class="contact-box">
            <div class="avatar"><img src="http://i.pravatar.cc/100?img=3" alt=""></div>
            <div class="info">
                <div class="name">{{name[0]}}</div>
                <div class="skill">photoshop,pinanacle studio</div>
                <div class="contact-box"><span>Belarus</span>bymart.by</div>
            </div>
            <div class="check-box">
                <input type="checkbox" class="checks" id="check1" v-model="isChecked[0]"><label for="check1"></label>
            </div>
        </div>
        <div class="contact-box">
            <div class="avatar"><img src="http://i.pravatar.cc/100?img=4" alt=""></div>
            <div class="info">
                <div class="name">{{name[1]}}</div>
                <div class="skill"></div>
                <div class="contact-box"><span>Ukraine Kiev</span>Kuvshynonva.com</div>
            </div>
            <div class="check-box">
                <input type="checkbox" class="checks" id="check2" v-model="isChecked[1]"><label for="check2"></label>
            </div>
        </div>
        <div class="contact-box">
            <div class="avatar"><img src="http://i.pravatar.cc/100?img=5" alt=""></div>
            <div class="info">
                <div class="name">{{name[2]}}</div>
                <div class="skill">wordpress,web design,joomla,html</div>
                <div class="contact-box"><span>Palma de Mallorica</span>yollandagranados.com</div>
            </div>
            <div class="check-box">
                <input type="checkbox" class="checks" id="check3" v-model="isChecked[2]"><label for="check3"></label>
            </div>
        </div>
        <input type="email" class="email" placeholder="Send invite by e-mail">
        <input type="submit" class="submit" id="submit" value="invite"
               v-bind:class="{disabled : isDisable}"
               v-bind:disabled="isDisable"
               v-on:click="alertInvite">
    </main>
</div>
<script src="bundle.js"></script>
</body>
</html>