$bg-color:rgba(0,0,0,0.75);
$box-bg-color:#fff;
$subtitle-color:#999999;
$name-color:#8BB85D;
$skill-color:#CCCCCC;
$contact-color:#5D5D5D;
$main-color:#E84F89;
$input-color:#EBEBEB;
$email-color:#E1E1E1;

$title-font-size:1.6em;
$main-font-family: 'Arial';